.contact-bar {
  margin-bottom: 0 !important;
}

#contentCarousel {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.carousel{
    background: linear-gradient(
            180deg,
             #fffbee 20%,
             #ffe485 100%
        ) !important;
    justify-content: start;
}

.carousel-indicators [data-bs-target] {
  background-color: #003f7f; /* Change dot color */
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
