.great-vibes{
    font-family:'Great Vibes',cursive;
    font-size: 35px;
    color:orange !important;
}

.navbar-orange-outline{
    border-bottom: 3px solid orange;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar .dropdown-menu .dropdown-item {
    display: inline-block; 
    padding: 10px 15px; 
    width: auto;
}

.dropdown-toggle{
    font-weight: bold;
}

.dropdown-item{
    font-weight: bold;
}

.navbar .dropdown-menu {
    width: auto;  
    max-width: 200px;  
    box-sizing: border-box;  
}

.navbar .dropdown-menu {
    max-width: 100vw;  
    overflow-x: auto; 
}

@media (min-width: 992px) {
    .navbar .nav-item.dropdown:hover .dropdown-menu {
        right: 0;
    }
}

@media (max-width: 991px) {
    .navbar .dropdown-menu {
        left: auto;
        right: 0;  
    }
}

.contact-bar {
    background-color: orange;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 20px;
    margin-top: 70px; 
    color: white;
    text-align: right;
}

.contact-bar i {
    color: white;
    margin-right: 8px;
}

.whatsapp-link {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.whatsapp-link i{
    margin-right: 4px;
}

.whatsapp-link:hover {
    text-decoration: underline;
}

.phone-link{
    color:white;
    text-decoration: none;
}

.phone-link:hover{
    text-decoration: underline;
}